@{
    ViewData["Title"] = "Privacy Policy";
}
<php>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</php>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
