@model BelediyeUlasimProjesi.Data.Station

@{
    ViewData["Title"] = "Güzergah Düzenle";
}
<php>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</php>
<h1 class="text-center">Güzergah Düzenle</h1>

<h4>Bilgiler</h4>
<hr />
<div style="border-style:groove">
    <div id="govde" class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StationName" class="control-label"></label>
                    <input asp-for="StationName" class="form-control" />
                    <span asp-validation-for="StationName" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <a asp-action="List">Geri</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
