@model BelediyeUlasimProjesi.Data.Station

@{
    ViewData["Title"] = "TimeList";
}

<h1 style="text-align:center">@Html.DisplayFor(model => model.StationName)</h1>


<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Saat</th>
                        <th scope="col">Dakika</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">06</th>
                        <td>15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">07</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">08</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">09</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">00</th>
                        <td>00  15  35  45 </td>
                    </tr>


                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Saat</th>
                        <th scope="col">Dakika</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">06</th>
                        <td>15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">07</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">08</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">09</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">21</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">22</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">23</th>
                        <td>00  15  35  45 </td>
                    </tr>
                    <tr>
                        <th scope="row">00</th>
                        <td>00  15  35  45 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
